*{
    margin:0px;
    padding:0px;
}


body{
    color:white;
    background: black;
    font-family: "Chakra Petch", sans-serif;
}

header{
    text-align: center;
    padding:20px;
    font-size:32px;
 
}

h1{
    font-size:40px;
}

p{
    font-size:20px;
    padding-top:20px;
    padding-left:20px;
}


section{
    background:#78909c;
 
}

.categoria-videos{
    padding:20px;
    display:flex;
    overflow-x: auto;
    gap:10px;
    
}

img{
    height: 250px;
}

.categoria-videos img {
    opacity:0.3;
}
.categoria-videos img:hover{
    opacity:1.0;
    border: solid 2px black;
}

.segunda-section{
    margin-top:50px;
}